# Environment
.env

# Python
venv/
.venv/
__pycache__/
*.pyc

# SQLite
*.db
*.db-shm
*.db-wal

# IDE
.idea/
.vscode/

# MacOS
.DS_Store
._*

# Logs
logs/
*.log

# Archives
*.tar.gz

# Temporary
project_code.txt